*.pyc
*.tmp
AudioBeamformer/GUI/qml/images/eq_0.svg
AudioBeamformer/GUI/qml/images/eq_0.svg
AudioBeamformer/GUI/qml/images/eq_1.svg
AudioBeamformer/GUI/qml/images/eq_2.svg
AudioBeamformer/GUI/qml/images/eq_3.svg
AudioBeamformer/GUI/qml/images/eq_4.svg
